<section id="portada" class="d-flex">
	<div class="container d-flex">
		<div class="d-flex flex-column justify-content-end contenido">
			<h1>rompamos las reglas juntos</h1>
			<span class="portada__sub pb-5">El skate es tanto un deporte como un
				estilo de vida y una forma de arte, así que hay muchas cosas que
				trascienden en términos de música, moda y entretenimiento</span>
		</div>
	</div>
</section>

<style>
	#portada{ background: url('/assets/images/fondo/portada1x.jpg') no-repeat;
	background-position: center center; height: 100vh; background-size: cover; }
	#portada .portada__sub{line-height: 1.1;} @media (min-width: 768px) {
	#portada{ background: url('/assets/images/fondo/portada2x.jpg') no-repeat;
	background-size: cover; height:600px;} #portada .contenido{ width: 400px; } }
	@media (min-width: 960px) { #portada{ background:
	url('/assets/images/fondo/portada3x.jpg') no-repeat; background-size: cover;}
</style>